<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Hangman game</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hangman_game/style.css' %}">
</head>
<body>

<br />
<div>
    <h1 id="motivation">Can you guess the word and avoid the gallows?</h1>
    <div class="content">
        <h2 id="word_to_guess">{{ word_with_mask }}</h2>
        <div class="controls">
            {% if status_level != 7 %}
            <form action="{% url 'hangman_game:guess_letter' %}" method="post">
                {% csrf_token %}
                <label for="letter">Guess a letter:</label>
                <input type="text" id="letter" name="letter"><br><br>
                <input type="submit" value="Guess">
            </form>

            <h3 id="ready_to_guess_word">Are you ready to guess a word?</h3>

            <form action="{% url 'hangman_game:guess_word' %}" method="post">
                {% csrf_token %}
                <label for="word">Guess a word!:</label>
                <input type="text" id="word" name="word"><br><br>
                <input type="submit" value="Guess">
            </form>
            {% else %}
                {% if secret_word == word_with_mask %}
                <h1>You are free!</h1>
                {% else %}
                <h1>You are hanged!</h1>
                {% endif %}
            <h4>The correct word was:</h4>
            <h2>{{ secret_word }}</h2>
            {% endif %}
            <form action="{% url 'hangman_game:hangman' %}">
                <input type="submit" value="Restart game" />
            </form>
        </div>
        <div class="status">
            {% with status_level=status_level|stringformat:"s" %}
                {% with image_path='hangman_game/game_status/hm_'|add:status_level|add:'.png' %}
                <img src="{% static image_path %}" alt="{{ status_level }}">
                {% endwith %}
            {% endwith %}
            <h3 class="error_message">{{ error_message }}</h3>
        </div>
    </div>
</div>
</body>
</html>